ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
  }
  
  li a:hover {
    background-color: yellowgreen;
  }

img{
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 10px;
    grid-row: 30px;
    padding: 10px;
}
.card{
    background-color: whitesmoke;
}
.title{
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}
.year{
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}
.nation{
    color: rgb(143, 143, 19);
    text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: transparent;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 50%;
  overflow: auto;
  background-color: white;
  font-weight: 500;
}